.l-page__header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
}

.l-header {
    display: flex;
    position: relative;
    height: 78px;
    padding: 0 30px;
}

.l-gnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.l-gnav__layer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(2, 3, 10, 0.68) 0%, rgba(2, 3, 10, 0.68) 75%, rgba(2, 3, 10, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ad02030a", endColorstr="#0002030a",GradientType=1 );
    cursor: pointer;
    transform: translateX(-200%);
    transition: transform .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.l-gnav__layer {
    display: none;
}

.l-gnav__outer {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    right: 0;
    width: 290px;
    height: 100%;
    background: #02030a;
    transform: translateX(100%);
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.l-gnav__inner {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding: 40px;
}

